@font-face {
    font-family: Stardew Valley;
    src: url(../fonts/Stardew.ttf) format(ttf);      
}
body{
    width: 100%;
}
.botoes{
    float: right;
    padding-right: 15%;
}
.botoes p{
    padding-left: 17px;
    position: absolute;
    padding-top: 60px;
    font-family: Stardew Valley;
    line-height: 1;
    font-size: 20px;
}
.botoes img {
    height: 100px;
    padding-right: 20%; 
    margin-top: 30px;
}

.dialog-box {   
    font-family: Stardew Valley; 
    height: 300px;
    position: absolute;
    width: 520px;
    height: 300px;
    left: 25%;
    right: 25%;
    top: 70%;
}

.text-box{
    z-index:2;
    position: absolute; 
    margin: 0;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 70px; 
    width: 450px; 
    z-index: 2;
    position: absolute;  
} 
.text-box p { 
    font-size: 25px;
    position: absolute; 
    margin-top: 16px;
}
.text-box .icon { 
    height: auto; 
    z-index: 2;
    position: absolute;
} 

.character { 
    right: 0;
    position: absolute;
}
.character .icon{  
    z-index: 2;
    position: absolute;
    width: 150px;   
    margin-top: 40px;
} 
.character img{
    margin-left: 15px;
}
.character p { 
    position: absolute;
    padding-top: 200px;
    z-index: 2;
    padding-left: 40px;
    font-size: 30px; 
     
}
#texto-jornada button {
    font-size: 50px;
    position: absolute;
}

.bg img{
    height: 270px;
    position: absolute; 
}